.DS_Store

CloudCode~/matchmaker-vm-hosting-a/Module~/Project/bin/
CloudCode~/matchmaker-vm-hosting-a/Module~/Project/obj/
CloudCode~/matchmaker-vm-hosting-b/Module~/Project/bin/
CloudCode~/matchmaker-vm-hosting-b/Module~/Project/obj/
CloudCode~/matchmaker-vm-hosting/Module~/Project/bin/
CloudCode~/matchmaker-vm-hosting/Module~/Project/obj/
